
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="4" size-lg="2" *ngFor="let item of skeletons();">
      <ion-card color="light">
        <ion-skeleton-text animated style="width: 100%; height: 300px;"></ion-skeleton-text>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 75%; height: 20px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%; height: 20px;"></ion-skeleton-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
