.noticia-more{
  font-size: 25px !important;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

ion-card{
  overflow: hidden;
  max-height: 300px;
  height: 300px;

  ion-img{
    max-width: 100%;
    cursor: pointer;
  }

  ion-card-header{
    ion-card-subtitle{
      cursor: pointer;
    }
  }
}
